.fontsize{
  width: 90%;
  border: none; 
  border-radius: 10px; 
  background-color: #1d1d1d;
  height: 400px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 18px 10px;
  height: 420px;
  
  .commands{
    border: 1px solid #595959;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 18px; 
  }
}


.setB{
  width: 95%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  margin-top: 10px;
  transition: 0.2s;
  
  &:active{
    transform: scale(0.99);
    opacity: 0.7;
  }
}

.range::-webkit-slider-runnable-track{
  appearance: none;
  -webkit-appearance: none;
  background: #262626;
  border-radius: 50px;
  padding: 2px;
}
