.body{
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  margin-top: 140px;
  
  .mbCount{
    height: 200px; 
    width: 200px;
    border-radius: 1000px; 
    border: 3px solid white;
    display: flex;
    align-items: center; 
    justify-content: center;
    outline: 2px dotted darkgray; 
    outline-offset: 5px;
    font-size: 30px;
  }
  
  .datas{
    min-width: 350px;
    display: flex;
    align-items: center;
    gap: 10px; 
    flex-direction: column;
    margin-top: 40px;
    
    .option{
      width: 90%;
      padding: 15px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between; 
      align-items: center;
      font-weight: bold;
      
      &:active{
        background-color: #1e1e1e;
      }
    }
  }
  
  .clearB{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: none;
    transition: 0.2s;
    margin: 30px 0;
    
    &:active{
      transform: scale(0.99);
      opacity: 0.7;
    }
  }
}
