.component{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
  transition: 0.1s;
  user-select: none;
  border-radius: 10px;
  
  &:active{
    background-color: rgb(23,23,23);
    transform: scale(0.98.5);
  }
  
  .span{
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.btn{
  border: none;
  background-color: #1d1d1d;
  color: white;
  font-weight: bold;
  place-self: end;
  transition: 0.2s;
  height: 100%;
  padding: 15px 25px;
  
  &:active{
    transform: scale(0.85);
  }
}